.container {
  margin: auto;
  width: 75%;
  border: 1px solid #333333;
  padding: 5%;
  text-align: center;
  .form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}
