.filter_items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  .filter_select_container {
    margin-left: 2%;
    .filter_select {
      border: 1px solid rgba(141, 141, 141, 0.6);
      border-radius: 5px 5px 5px 5px;
      padding: 5% 10%;
      word-wrap: break-word;
      cursor: pointer;
    }
    .filter_select_disabled {
      padding: 5% 10%;
      border: 1px solid rgba(141, 141, 141, 0.6);
      border-radius: 5px 5px 5px 5px;
    }
  }
  .filter_button_container {
    .filterSubmit {
      border: 1px solid rgba(141, 141, 141, 0.6);
      border-radius: 5px 5px 5px 5px;
      padding: 20% 10%;
      cursor: pointer;
    }
  }

  .filter_select:hover,
  .filterSubmit:hover {
    border-color: red;
    color: red;
  }
}
