.filter_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  .filter_form {
    .filter_select {
      width: 100%;
      border: 1px solid rgb(0, 0, 0);
      color: black;
      background: white;
      border-radius: 5px 5px 5px 5px;
      padding: 5% 2.5%;
      margin-bottom: 2%;
      cursor: pointer;
      word-wrap: break-word;
    }
    .filter_select_disabled {
      width: 100%;
    }
  }
  .filter_button_container {
    .filter_button {
      width: 100%;
      border: 1px solid rgb(0, 0, 0);
      color: black;
      background: white;
      border-radius: 5px 5px 5px 5px;
      padding: 5% 2.5%;
      margin-bottom: 2%;
      cursor: pointer;
      word-wrap: break-word;
    }
  }
  .filter_select:hover,
  .filter_button:hover {
    border: 1px solid red;
    color: red;
  }
}
