.main_comtainer {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  background: #e7e5e5;
  height: 100vh;
  overflow: hidden;
  .main_side_item {
    width: 20%;
  }
  .main_item {
    width: 80%;
  }
}
