* {
  box-sizing: border-box;
  resize: none;
  background: none;
  font-size: 1.05rem;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}
*::placeholder {
  font-size: 1.05rem;
  font-weight: bold;
}
.modal_container {
  position: fixed;
  left: calc(50vw - 18%);
  top: calc(50vh - 25%);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  width: 35%;
  padding: 2%;
  background: white;
  z-index: 1;
  .modal_header {
    text-align: end;
    .modal_close {
      border: 1px solid rgb(0, 0, 0);
      border-radius: 5px 5px 5px 5px;
      padding: 2% 2.5%;
      word-wrap: break-word;
      cursor: pointer;
    }
    .modal_close:hover {
      border: 1px solid red;
    }
  }
  .modal_form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    .error {
      border: 1px solid red;
      border-radius: 5px 5px 5px 5px;
      margin-bottom: 3%;
    }
    .titleInput {
      margin-bottom: 3%;
    }
    .inputFile {
      width: 0.1%;
      height: 0.1%;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    .inputFile,
    .inputFileLabel {
      border: 1px solid rgba(141, 141, 141, 0.6);
      border-radius: 5px 5px 5px 5px;
      display: inline-block;
      cursor: pointer;
      padding: 5% 4%;
      margin-bottom: 3%;
      overflow: hidden;
      font-weight: lighter;
    }
    .errorLabel {
      border: 1px solid red;
      border-radius: 5px 5px 5px 5px;
      display: inline-block;
      padding: 5% 4%;
      margin-bottom: 3%;
      overflow: hidden;
      font-weight: lighter;
    }
    .inputFileLabel:hover {
      color: black;
      border: 1px solid black;
    }
    .inputSelect {
      border: 1px solid rgba(141, 141, 141, 0.6);
      border-radius: 5px 5px 5px 5px;
      padding: 5% 2.5%;
      margin-bottom: 3%;
      cursor: pointer;
    }
    .errorSelect {
      border: 1px solid red;
      border-radius: 5px 5px 5px 5px;
      padding: 5% 2.5%;
      margin-bottom: 3%;
    }
    .inputSelect:hover {
      border: 1px solid black;
    }
    .inputOption {
      padding: 5% 2.5%;
      margin-bottom: 1%;
    }
    .inputDescription {
      margin-bottom: 5%;
    }
    .errorDescription {
      border: 1px solid red;
      border-radius: 5px 5px 5px 5px;
      max-height: 200px;
    }
    .modal_button {
      margin-top: 3%;
      border: 1px solid rgb(0, 0, 0);
      border-radius: 5px 5px 5px 5px;
      padding: 5% 2.5%;
      cursor: pointer;
    }
    .modal_button:hover {
      border: 1px solid red;
    }
  }
}
