.navbar {
  width: 25%;
  height: auto;
  padding: 0.1% 1%;
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  background: white;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  overflow: hidden;
  text-align: center;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    .logo_image {
      height: auto;
      width: 15%;
      object-fit: contain;
      cursor: pointer;
    }
  }
}
