.recipes_list_container {
  padding: 1.6% 6%;
  height: 92vh;
  overflow: auto;
  display: flex;
  flex-direction: row;
  .recipes_list_items {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 5%;
    .recipe {
      margin-bottom: 2%;
    }
  }
}
