.recipe_button {
  min-width: 30%;
  border: 1px solid rgba(141, 141, 141, 0.6);
  border-radius: 5px 5px 5px 5px;
  padding: 5% 0%;
  cursor: pointer;
  word-wrap: break-word;
}
.recipe_button:hover {
  border-color: red;
  color: red;
}
