.recipes_list_container {
  padding: 1.6% 5%;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: row;
  .recipes_list_items {
    display: flex;
    width: 100%;
    flex-direction: row;
  }
}
.hidden {
  opacity: 0;
}
